-if @establishments
-else
  %div.container#search
    %div.row
    -form_tag establishments_url, :method=> :get do
      =text_field_tag :search, '', :id => 'search_text'
      =submit_tag I18n.t('menu.search')
    =link_to "Montreal", root_url(:subdomain => "montreal"), :class => "btn"
    =link_to "Toronto", root_url(:subdomain => "toronto"), :class => "btn"
