%div.container#search
  %div.row
  -form_tag establishments_url, :method=> :get do
    =label_tag :search, "Search for an establishment:"
    =text_field_tag :search, '', :id => 'search_text'
    =submit_tag "Search"
