.band
  .container
    =form_for :email do |f|
      =f.hidden_field :establishment_id, :value => @establishment.id
      =f.label :cc, I18n.t("pages.mapaq_request.your_email")
      =f.text_field :cc
      =f.label :name, I18n.t("pages.mapaq_request.your_name")
      =f.text_field :name
      =f.label :subject,  I18n.t('pages.mapaq_request.subject_label')
      =f.text_field :subject, :value => I18n.t('pages.mapaq_request.default_subject', :establishment_name => @establishment.name)
      =f.label :message
      =f.text_area :message, :value => I18n.t('pages.mapaq_request.message', :establishment_name => @establishment.name, :address => @establishment.address)
      %br
      =f.submit I18n.t('send')
