// Mixins ----------------------------------------------------------------------
// http://css3please.com/
@mixin background-rgba($red, $green, $blue, $opacity, $rgba) {
  background-color: transparent;
  background-color: rgba($red, $green, $blue, $opacity);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$rgba}',endColorstr='#{$rgba}');
  zoom: 1;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin border-direction-radius($direction, $radius) {
  -webkit-border-#{$direction}-radius: $radius;
  -moz-border-#{$direction}-radius: $radius;
  border-#{$direction}-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin gradient($from, $to) {
  background-color: $to;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image:    -moz-linear-gradient(top, $from, $to);
  background-image:     -ms-linear-gradient(top, $from, $to);
  background-image:      -o-linear-gradient(top, $from, $to);
  background-image:         linear-gradient(top, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}
@mixin opacity($value) {
  opacity: $value;
  filter: alpha(opacity=$value*100);
}
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

$logo-color: #c20215;

// Header ----------------------------------------------------------------------

#language {
  position: absolute;
  right: 0;
  top: 10px;
  a {
    color: $logo-color;
    text-decoration: none;
    &:hover {
      color: lighten($logo-color, 20%);
      text-decoration: underline;
    }
  }
}
.lt-ie7 #language {
  display: inline; // avoid stepdown
}

.root {
  position: relative;
  padding-top: 10px;
}

header {
  p {
    font-size: 20px;
    margin: 0 0 0 305px;
    padding-top: 9px;
  }
  strong {
    display: block;
    padding-bottom: 0.5em;
    color: $logo-color;
    a {
      color: $logo-color;
      &:hover {
        color: lighten($logo-color, 20%);
      }
    }
  }
}
h1 {
  float: left;
}

.fb-like {
  height: 40px;
}

// pages#index -----------------------------------------------------------------

.pages-index {
  header {
    width: 650px;
    margin: 0 auto;
  }
  .root {
    padding-top: 20px;
    background: transparent url(/assets/map.gif) no-repeat 0 0;
  }
  #language {
    top: 20px;
  }
  #network {
    height: 32px;
    background-image: url(/assets/network-bar.png);
    ul {
      margin-top: 1px;
    }
  }
}
#canada {
  height: 425px;
  a {
    display: block;
    position: absolute;
    padding: 2px 10px 3px;
    background-color: $logo-color;
    color: #fff;
    font-weight: 700;
    line-height: 1em;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    @include opacity(0.9);
    &:hover {
      background-color: #000;

    }
  }
}
#edmonton {
  left: 160px;
  top: 215px;
}
#gatineau {
  left: 615px;
  top: 385px;
}
#montreal {
  left: 645px;
  top: 365px;
}
#ottawa {
  left: 610px;
  top: 405px;
}
#toronto {
  left: 585px;
  top: 425px;
}
#vancouver {
  left: 45px;
  top: 255px;
}
#twitter {
  font: italic 1.5em/1em Georgia, Times, serif;
  vertical-align: middle;
  line-height: 40px;
  button {
    margin-left: 0.5em;
    color: #007493;
    vertical-align: top;
  }
}

// pages#city ------------------------------------------------------------------

.band {
  margin: 1em 0;
  padding: 2em 0;
  background-color: #eaeaea;
  border-top: 1px solid #c0c0c0;
  @include box-shadow(inset 0 4px 4px -4px darken(#c0c0c0, 20%));
}
.box {
  clear: left;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #d1d1d1;
  @include box-shadow(0 2px 5px 0 #d1d1d1);
}

#search {
  text-align: center;
  margin: 0;
  label {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    vertical-align: bottom;
  }
  input {
    margin: 0 10px;
  }
}
.lt-ie8 {
  #search {
    zoom: 1;
    display: inline;
  }
}

#boxes {
  margin-bottom: 1em;
}
.list-box {
  h2 {
    padding: 0 10px;
    background-color: $logo-color;
    color: #fff;
    font-size: 16px;
  }
  .inner {
    padding: 10px;
    border: 1px solid #bcbcbc;
    border-top: none;
  }
  .item {
    margin-bottom: 1em;
  }
  strong {
    display: block;
  }
  a {
    color: #000;
    &:hover {
      color: lighten(#000, 30%);
    }
  }
}

.more {
  text-align: right;
  a {
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }
  span {
    position: relative;
    top: -1px;
    padding-left: 1em;
    font-size: 0.5em;
  }
}

// establishments#show ---------------------------------------------------------

#banner {
  margin: 1em 0 2em;
  padding: 1em;
  background-color: #fffbd7;
  color: #333;
  border: 2px solid #ffd45a;
  @include box-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  .span8 {
    width: 584px;
  }
  h2 {
    margin-bottom: 13px;
    font-size: 29px;
    line-height: 37px;
    font-weight: normal;
  }
  button {
    width: 300px;
    padding: 30px 10px;
    border: none;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    @include border-radius(5px);
    @include box-shadow(1px 2px 2px rgba(0, 0, 0, 0.75));
    @include gradient(#9C3, #693);
  }
}

#map {
  width: 100%;
  height: 240px;
  margin-bottom: 1em;
}

.establishments-show {
  .span8 {
    h2 {
      margin-bottom: 13px;
    }
    small {
      display: block;
      font-size: 11px;
      line-height: 1em;
    }
  }
  .span4 {
    color: #999;
    text-align: center;
  }
}

// Footer ----------------------------------------------------------------------

footer {
  background: #f5f5f5 url(/assets/footer-bg.png) repeat-x 0 0; // 7px
  .inner {
    padding: 27px 0 20px;
  }
  .span3 {
    padding-top: 15px;
    text-align: center;
  }
  .span9 {
    width: 699px;
    border-left: 1px solid #c7c7c7;
    ul,
    form {
      margin: 0;
      padding-left: 20px;
    }
    hr {
      clear: left;
      border-top: none;
      border-color: #c7c7c7;
    }
    li {
      float: left;
      padding: 0 20px 20px 0;
    }
    a {
      color: #0069d6;
      &:hover {
        color: lighten(#0069d6, 30%);
      }
    }
    h2 {
      margin-bottom: 10px;
      color: #626262;
      line-height: 1em;
    }
  }
}

#network {
  height: 40px;
  background: transparent url(/assets/network-bg.png) repeat-x 0 0;
  ul {
    margin: 9px 0 0;
  }
  li:first-child {
    font-weight: bold;
    a {
      padding-left: 0;
    }
  }
  li {
    float: left;
  }
  a {
    display: block;
    height: 31px;
    padding: 0px 20px 0;
    background: transparent url(/assets/network-divider.png) no-repeat right top;
    color: #000;
    line-height: 30px;
    &:hover {
      color: lighten(#000, 30%);
    }
  }
}
.opennorth {
  background: transparent url(/assets/symbol-small.png) no-repeat 0 3px;
  padding-left: 29px;
}
