// Mixins ----------------------------------------------------------------------
// http://css3please.com/
@mixin background-rgba($red, $green, $blue, $opacity, $rgba) {
  background-color: transparent;
  background-color: rgba($red, $green, $blue, $opacity);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$rgba}',endColorstr='#{$rgba}');
  zoom: 1;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin border-direction-radius($direction, $radius) {
  -webkit-border-#{$direction}-radius: $radius;
  -moz-border-#{$direction}-radius: $radius;
  border-#{$direction}-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin opacity($value) {
  opacity: $value;
  filter: alpha(opacity=$value*100);
}
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

// Header ----------------------------------------------------------------------

#language {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #666;
  padding: 10px;
  @include border-direction-radius(bottom-right, 5px);
  @include border-direction-radius(bottom-left, 5px);
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
.lt-ie7 #language {
  display: inline; // avoid stepdown
}

.root {
  position: relative;
  padding-top: 20px;
}

h1 {
  float: left;
}
header {
  width: 650px;
  margin: 0 auto;
  p {
    font-size: 20px;
    line-height: 1em;
    margin: 0 0 0 305px;
    padding-top: 9px;
  }
  strong {
    display: block;
    padding-bottom: 0.5em;
    color: #c20215;
  }
}

.fb-like {
  height: 40px;
}

// Root ------------------------------------------------------------------------

.pages-index {
  .root {
    background: transparent url(/assets/map.gif) no-repeat 0 0;
  }
}
#map {
  height: 425px;
  a {
    position: absolute;
    display: block;
    padding: 2px 10px 3px;
    background-color: #c20215;
    color: #fff;
    font-weight: 700;
    line-height: 1em;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    @include opacity(0.9);
    &:hover {
      background-color: #000;

    }
  }
}
#montreal {
  left: 645px;
  top: 375px;
}
#toronto {
  left: 585px;
  top: 420px;
}
#twitter {
  font: italic 1.5em/1em Georgia, Times, serif;
  vertical-align: middle;
  line-height: 38px;
  button {
    color: #007493;
    margin-left: 0.5em;
    vertical-align: top;
  }
}

// Footer ----------------------------------------------------------------------

footer {
  background: #f5f5f5 url(/assets/footer-bg.png) repeat-x 0 0; // 7px
  .band {
    padding: 27px 0 20px;
  }
  .span3 {
    text-align: center;
    img {
      margin-top: 15px;
    }
  }
  .span9 {
    width: 699px;
    border-left: 1px solid #c7c7c7;
    ul,
    form {
      margin: 0;
      padding-left: 20px;
    }
    hr {
      clear: left;
      border-top: none;
      border-color: #c7c7c7;
    }
    li {
      float: left;
      padding: 0 20px 20px 0;
    }
    a {
      color: #0069d6;
      &:hover {
        color: lighten(#0069d6, 30%);
      }
    }
    h2 {
      margin-bottom: 10px;
      color: #626262;
      line-height: 1em;
    }
  }
}

#network {
  height: 40px;
  background: transparent url(/assets/network-bg.png) repeat-x 0 0;
  ul {
    margin: 9px 0 0;
  }
  li:first-child {
    font-weight: bold;
    a {
      padding-left: 0;
    }
  }
  li {
    float: left;
  }
  a {
    display: block;
    height: 31px;
    padding: 0px 20px 0;
    background: transparent url(/assets/network-divider.png) no-repeat right top;
    color: #000;
    line-height: 30px;
    &:hover {
      color: lighten(#000, 30%);
    }
  }
}
.opennorth {
  background: transparent url(/assets/symbol-small.png) no-repeat 0 3px;
  padding-left: 29px;
}
