-form_tag establishments_url, :method=> :get do
  =text_field_tag :search, '', :id => 'search_text'
  =submit_tag I18n.t('menu.search')
.grid_12
  %table.pretty
    %thead
      %tr
        %th= t :name
        %th= t :address
    %tbody
      - @establishments.each do |establishment|
        %tr[establishment]
          %td= link_to establishment.name, establishment_path(establishment)
          %td= address(establishment)

