.grid_12
  %table.pretty
    %thead
      %tr
        %th= t :name
        %th= t :address
    %tbody
      - @establishments.each do |establishment|
        %tr[establishment]
          %td= link_to establishment.name, establishment_path(establishment)
          %td= address(establishment)

